.nav {
    grid-area: n;
/*    background-color: var(--main-background-color);*/
    background-color: #ffffff;
    opacity: .9;
    padding: 1vmin;
}
  
.links, a {
    text-decoration: none;
    display: block;
    font-size: calc(1rem + 1vw);
    padding: .5rem;
}

.activeLink {
    color: gold;
}

.colorText2 {
    color: #5579f4;
}

a {
    color: #5579f4;
}