.nav {
    grid-area: n;
    background-color: var(--main-background-color);
}
  
.links {    
    text-decoration: none;
    display: block;
    font-size: calc(1rem + 1vw);
    padding: .5rem;
}

.colorText {
    color: var(--text-color1);
}

.colorText2 {
    color: var(--text-color2);
}