:root {
  --main-background-color: #06b667;
  --text-color1: #f3f3f3;
  --text-color2: red;
  --text-color3: blue;
}

.app-wrapper {
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}