.content {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 10fr;
    font-size: calc(1rem + 1vmin);
    opacity: .9;
}

.dialog_items {

}

.active {
    color: gold;
}

.dialog {

}

.messages {

}

.message {

}